streamlit
groq
python-dotenv
PyPDF2
gtts
streamlit-mic-recorder
python-pptx
python-docx
reportlab
Pillow
requests
SpeechRecognition
pandas
youtube-transcript-api
beautifulsoup4
pytz
extra-streamlit-components
